doc/html
*.a
*.dep
*.o
Tutorials/EEFIT
Tutorials/phiPP
*.DS_Store
*.SYMDEF*
*.goutputstream*
Tutorials/Dalitz/DalitzExe/ampPlotter
Tutorials/Dalitz/DalitzExe/fitAmplitudes
Tutorials/Dalitz/DalitzExe/generateBackground
Tutorials/Dalitz/DalitzExe/generatePhaseSpace
Tutorials/Dalitz/DalitzExe/generatePhysics
Tutorials/Dalitz/DalitzExe/parseConfigFile
Tutorials/Dalitz/DalitzExe/plotData
Tutorials/Dalitz/DalitzExe/plotResults
Tutorials/Dalitz/DalitzExe/printAmplitudes
Tutorials/Dalitz/DalitzExe/toyAcceptance
Tutorials/Dalitz/run/*.fit
Tutorials/Dalitz/run/*.ni
Tutorials/Dalitz/run/*.root
Tutorials/Dalitz/run/test.cfg
Tutorials/gammaKK/doc/*.aux
Tutorials/gammaKK/doc/*.log
Tutorials/gammaKK/doc/*.pdf
toGit.sh

