doc/html
*.a
*.d
*.dep
*.o
*.DS_Store
*.SYMDEF*
*.goutputstream*
*compiler_flags*
Tutorials/Dalitz/DalitzExe/ampPlotter
Tutorials/Dalitz/DalitzExe/fitAmplitudes
Tutorials/Dalitz/DalitzExe/fitAmplitudesMPI
Tutorials/Dalitz/DalitzExe/generateBackground
Tutorials/Dalitz/DalitzExe/generatePhaseSpace
Tutorials/Dalitz/DalitzExe/generatePhysics
Tutorials/Dalitz/DalitzExe/parseConfigFile
Tutorials/Dalitz/DalitzExe/plotData
Tutorials/Dalitz/DalitzExe/plotResults
Tutorials/Dalitz/DalitzExe/printAmplitudes
Tutorials/Dalitz/DalitzExe/toyAcceptance
Tutorials/Dalitz/run/*.fit
Tutorials/Dalitz/run/*.ni
Tutorials/Dalitz/run/*.root
Tutorials/Dalitz/run/test.cfg
Tutorials/Dalitz/lib/*
Tutorials/Dalitz/bin/*
Tutorials/Dalitz/doc/*.aux
Tutorials/Dalitz/doc/*.log
Tutorials/Dalitz/doc/*.toc
Tutorials/Dalitz/doc/*.synctex.gz

